:root {
  --visinav: hidden;
  --visiplay: hidden;
  --visihotbar: hidden;
  --macrobarpos: 350px;
  --leftbarpos: -8px;
  --submenustyle: contents;
  --hotbaranim1: 0px;
  --navistart: 10px;
  --leftbarstart: 0px;
  --leftbarstartsub: 60px;
  --leftbarpad: 10px;
  --leftbarw: 36px;
  --leftbarh: 36px;
  --leftbarlh: 36px;
  --leftbarfs: 24px;
  --submenuhover: 60px;
  --playerfsize: 0px;
  --playerwidth: 30px;
  --macrobarlh: 30px;
  --macrobarhv: 0px;
  --macrobarmg: -8px;
  --bordercolor: #ff4900bd;
  --shadowcolor: #ff4900bd;
}

#logo {
  visibility: hidden;
}

#navigation {
  left: var(--navistart);
  visibility: var(--visinav);
}

#hotbar:hover {
  bottom: var(--macrobarhv);
  transition: 0.5s;
}

#hotbar {
  left: var(--macrobarpos);
  bottom: var(--hotbaranim1);
  visibility: var(--visihotbar);
  transition: 0.05s ease-out 0.5s;
}

#hotbar .bar-controls {
  background: #191919;
  height: 120%;
  margin: var(--macrobarmg) 2px;
}

#hotbar .bar-controls a.page-control {
  font-size: 20px;
}

#hotbar #hotbar-directory-controls {
  font-size: 14px;
}

#hotbar .bar-controls span.page-number {
  line-height: 20px;
}

#hotbar #macro-list:hover {
  border-top: 1px solid var(--bordercolor);
  box-shadow: 0px 0px 10px 2px var(--shadowcolor);
  transition: 0.5s;
}

#hotbar #macro-list {
  border-top: 1px solid var(--bordercolor);
  box-shadow: 0px 0px 10px 2px var(--shadowcolor);
  transition: 0.05s ease-out 0.5s;
}

#hotbar #hotbar-directory-controls a {
  line-height: var(--macrobarlh);
}

#players:hover {
  width: 150px;
  font-size: 12px;
  transition: 0.05s;
}

#players {
  width: var(--playerwidth);
  left: 5px;
  bottom: 0px;
  font-size: var(--playerfsize);
  visibility: var(--visiplay);
}

#players ol li.player {
  padding: 1px 6px;
}

#players h3 {
  margin: 0px -2px;
  border-bottom: 0px;
}

#navigation .nav-item {
  line-height: 20px;
}

#navigation #nav-toggle {
  height: 24px;
  background: #292929bd;
}

#navigation #scene-list .scene ul.scene-players {
  top: 16px;
}

#sidebar-tabs {
  border-bottom: var(--bordercolor);
  box-shadow: 0 0 10px var(--shadowcolor);
}

#sidebar-tabs > .item.active {
  border: 1px solid var(--bordercolor);
  box-shadow: 0 0 6px inset var(--shadowcolor);
}

#controls {
  left: var(--leftbarstart);
  top: 10px;
  margin-top: var(--leftbarpos);
  border-right: 1px solid var(--bordercolor);
  box-shadow: 3px 0px 10px 0px var(--shadowcolor);
  transition: 0.1s;
  padding-right: var(--leftbarpad);
  background: #0000003b;
}

#controls:hover {
  left: 0px;
  transition: 0.5s;
  padding-right: 10px;
}

#controls .scene-control, #controls .control-tool {
  margin: 0 0 2px; 
}

#controls .scene-control.active, #controls .scene-control:hover {
  border: 1px solid transparent;
  color: orange;
  border: solid 1px var(--bordercolor);
  box-shadow: 1px 0px 10px 0px var(--shadowcolor);
  padding-right: 2px;
}

#controls .control-tool.toggle.active, #controls .control-tool.toggle:hover {
  padding-right: 2px;
}

#controls .control-tool.active, #controls .control-tool {
  border: 0px solid transparent;
  padding-right: 2px;
}

#controls .control-tool.active, #controls .control-tool:hover {
  border: 0px solid transparent;
  color: yellow;
  box-shadow: 1px 0px 10px 0px var(--shadowcolor);
}

#controls > li:nth-child(n), #controls > li.scene-control > ol > li.control-tool {
  width: var(--leftbarw);
  height: var(--leftbarh);
  line-height: var(--leftbarlh);
  font-size: var(--leftbarfs);
  padding-right: 0px;
}


#controls .active .control-tools {
  display: var(--submenustyle);
  left: var(--leftbarstartsub);
  transition: 0.5s;
  background: #00000059;
  border: solid 1px var(--bordercolor);
  box-shadow: 1px 0px 10px 0px var(--shadowcolor);
  border-radius: 3px;
}

#controls:hover .active .control-tools {
  display: var(--submenustyle);
  left: var(--submenuhover);
}
