:root {
  --visinav: hidden;
  --visiplay: hidden;
  --visihotbar: hidden;
  --macrobarpos: 350px;
  --leftbarpos: -8px;
  --submenustyle: contents;
  --hotbaranim1: 0px;
  --navistart: 10px;
  --leftbarstart: 0px;
  --leftbarstartsub: 60px;
  --submenuhover: 60px;
  --leftbarpad: 10px;
  --playerfsize: 0px;
  --playerwidth: 30px;
  --macrobarlh: 30px
}

#logo {
  visibility: hidden;
}

#navigation {
  left: var(--navistart);
  visibility: var(--visinav);
}

#hotbar:hover {
  bottom: 0px;
  transition: 0.5s;
}

#hotbar {
  left: var(--macrobarpos);
  bottom: var(--hotbaranim1);
  visibility: var(--visihotbar);
  transition: 0.05s ease-out 0.5s;
}

#hotbar .bar-controls {
  background: #191919;
  height: 120%;
  margin: -8px 2px;
}

#hotbar .bar-controls a.page-control {
  font-size: 20px;
}

#hotbar #hotbar-directory-controls {
  font-size: 14px;
}

#hotbar .bar-controls span.page-number {
  line-height: 20px;
}

#hotbar #macro-list:hover {
  border-top: 1px solid #ff4900bd;
  box-shadow: 0px 0px 10px 2px #ff4900bd;
  transition: 0.5s;
}

#hotbar #macro-list {
  border-top: 1px solid #ff4900bd;
  box-shadow: 0px 0px 10px 2px #ff4900bd;
  transition: 0.05s ease-out 0.5s;
}

#hotbar #hotbar-directory-controls a {
  line-height: var(--macrobarlh);
}

#players:hover {
  width: 150px;
  font-size: 12px;
  transition: 0.05s;
}

#players {
  width: var(--playerwidth);
  left: 5px;
  bottom: 0px;
  font-size: var(--playerfsize);
  visibility: var(--visiplay);
}

#players ol li.player {
  padding: 1px 6px;
}

#players h3 {
  margin: 0px -2px;
  border-bottom: 0px;
}

#navigation .nav-item {
  line-height: 20px;
}

#navigation #nav-toggle {
  height: 24px;
  background: #292929bd;
}

#navigation #scene-list .scene ul.scene-players {
  top: 16px;
}

#controls {
  left: var(--leftbarstart);
  top: 10px;
  margin-top: var(--leftbarpos);
  border-right: 1px solid #ff4900bd;
  box-shadow: 3px 0px 10px 0px #ff4900bd;
  transition: 0.1s;
  padding-right: var(--leftbarpad);
  background: #0000003b;
}

#controls:hover {
  left: 0px;
  transition: 0.5s;
  padding-right: 10px;
}

#controls .scene-control, #controls .control-tool {
  margin: 0 0 2px; 
}

#controls .scene-control.active, #controls .scene-control:hover {
  border: 1px solid transparent;
  color: orange;
}

#controls .control-tool.active, #controls .control-tool {
  border: 0px solid transparent;
}

#controls .control-tool.active, #controls .control-tool:hover {
  border: 0px solid transparent;
  color: yellow;
}

#controls > .small-left-panel, #controls > .small-left-panel .small-left-panel {
  border: 1px solid transparent;
  width: 25px;
  height: 28px;
  font-size: 15px;
  line-height: 30px;
  margin: 2px 0px 0px;
  box-sizing: content-box;
  border-radius: 5px;
}

#controls .active .control-tools {
  display: var(--submenustyle);
  left: var(--leftbarstartsub);
  transition: 0.5s;
  background: #00000059;
  border: solid #ff000087;
  border-radius: 5px;
}

#controls:hover .active .control-tools {
  display: var(--submenustyle);
  left: var(--submenuhover);
}