#logo { 
  visibility: hidden;
}

#players {
  width: 150px;
  font-size: 12px;
}

#controls {
  top: -8px;
  left: 0px;
}

#controls .control-tools {
  left: 40px;
}

#controls .scene-control, #controls .control-tool {
  width: 18px;
  height: 20px;
  font-size: 12px;
  line-height: 21px;
  margin: 2px 0px 4px;
}