:root {
  --visinav: hidden;
  --visiplay: hidden;
  --visihotbar: hidden;
  --leftbarpos: -8px;
  --submenustyle: contents;
}

#logo {
  visibility: hidden;
}

#navigation {
  visibility: var(--visinav);
}

#hotbar {
  visibility: var(--visihotbar);
}

#players {
  width: 150px;
  font-size: 12px;
  visibility: var(--visiplay);
}

#controls {
  top: var(--leftbarpos);
  left: 0px;
}

#controls .control-tools {
  left: 40px;
}

#controls .scene-control.active, #controls .scene-control:hover {
  border: 1px solid red;
  color: orange;
}

#controls .control-tool.active, #controls .control-tool:hover {
  border: 0px;
  color: yellow;
}

#controls .scene-control, #controls .control-tool {
  width: 25px;
  height: 28px;
  font-size: 15px;
  line-height: 30px;
  margin: 2px 0px 0px;
  box-sizing: content-box;
  border-radius: 5px;
  border-width: 0px;
}

#controls .active .control-tools {
  display: var(--submenustyle);
}