:root {
    --minimw: unset;
    --minimbot: unset;
    --minimtop: unset;
    --minileft: unset;
}

#minimized-bar {
    position: absolute;
    width: var(--minimw);
    height: 40px;
    bottom: var(--minimbot);
    top: var(--minimtop);
    border-radius: 5px;
    left: var(--minileft);
    opacity: 50%;
    transition: 0.2s;
    border: 1px solid var(--bordercolor);
    box-shadow: 0 0 var(--shadowstrength) 0 var(--shadowcolor);
}

.window-app.minimized .window-header {
    border: 1px solid var(--bordercolor);
    box-shadow: 0 0 var(--shadowstrength) 0 var(--shadowcolor);
}

.minimized.window-app .window-header a {
    margin: 0 0 0 2px;
}

.minimized-highlight {
    background-color: var(--shadowcolor);
}

.minimized-pinned {
    background-color: var(--bordercolor);
}