:root {
    --minibarw: unset;
    --minibarbot: unset;
    --minibartop: unset;
    --minibarleft: unset;
}

#minimized-bar {
    position: absolute;
    width: var(--minibarw);
    height: 40px;
    bottom: var(--minibarbot);
    top: var(--minibartop);
    border-radius: 5px;
    left: var(--minibarleft);
    opacity: 50%;
    transition: 0.2s;
    border: 1px solid var(--bordercolor);
    box-shadow: 0 0 var(--shadowstrength) 0 var(--shadowcolor);
}

.window-app.minimized .window-header {
    border: 1px solid var(--bordercolor);
    box-shadow: 0 0 var(--shadowstrength) 0 var(--shadowcolor);
}

.minimized.window-app .window-header a {
    margin: 0 0 0 2px;
}

.minimized-highlight {
    background-color: var(--shadowcolor);
}

.minimized-pinned {
    background-color: var(--bordercolor);
}