:root {
    --novid: inherit;
    --noviddis: inherit;
    --novidleftflex: inherit;
    --novidlefttop: inherit;
    --novidleftleft: inherit;
}

:not(.camera-view) > .no-video {
    display: var(--novid);
}

:not(.camera-view) > .no-video > .video-container {
    display: var(--noviddis);
}

:not(.camera-view) > .no-video > .notification-bar {
    display: var(--noviddis);
}

:not(.camera-view) > .no-video > .control-bar.left {
    flex-direction: var(--novidleftflex);
    top: var(--novidlefttop);
    left: var(--novidleftleft);
}

#camera-views {
    margin: 0 0 65px 110px;
}