:root {
    --novid: inherit;
    --noviddis: block;
    --novidleftflex: unset;
    --novidlefttop: 0;
    --novidleftleft: 0;
}

:not(.camera-view-popout) > .no-video {
    display: var(--novid);
}

:not(.camera-view-popout) > .no-video > .video-container {
    display: var(--noviddis);
}

:not(.camera-view-popout) > .no-video > .notification-bar {
    display: var(--noviddis);
}

:not(.camera-view-popout) > .no-video > .control-bar.left {
    flex-direction: var(--novidleftflex);
    top: var(--novidlefttop);
    left: var(--novidleftleft);
}

#camera-views {
    margin: 0 0 65px 110px;
}