:root {
    --controlsvis: hidden;
    --controlsxpos: 0px;
    --controlsypos: 20vmin;
    --controlspad: 7px;
    --controlsw: 36px;
    --controlsh: 36px;
    --controlslh: 36px;
    --controlsfs: 24px;
    --controlssubstart: 60px;
    --controlssubhover: 60px;
    --controlssubstyle: contents;
}

#controls {
    left: var(--controlsxpos);
    top: 10px;
    margin-top: var(--controlsypos);
    border-right: 1px solid var(--bordercolor);
    box-shadow: 3px 0 var(--shadowstrength) 0 var(--shadowcolor);
    transition: 0.1s;
    padding-right: var(--controlspad);
    background: #0000003b;
}

#controls:hover {
    left: 0;
    transition: 0.5s;
    padding-right: 7px;
}

#controls .control-tool.toggle {
    background: var(--shadowcolor);
    border: 0 solid var(--bordercolor);
}

#controls .control-tool.toggle:hover {
    background: var(--bordercolor);
    box-shadow: 0 0 var(--shadowstrength) var(--shadowcolor);
}

#controls .control-tool.toggle.active {
    background: var(--bordercolor);
    box-shadow: 0 0 var(--shadowstrength) var(--bordercolor);
}

#controls .scene-control, #controls .control-tool {
    margin: 0 0 2px;
}

#controls .scene-control.active, #controls .scene-control:hover {
    border: 1px solid transparent;
    color: orange;
    box-shadow: 1px 0 var(--shadowstrength) 0 var(--shadowcolor);
    padding-right: 2px;
    padding-left: 1px;
}

#controls .control-tool.toggle.active, #controls .control-tool.toggle:hover {
    padding-right: 0;
    padding-left: 1px;
}

#controls .control-tool.active, #controls .control-tool {
    border: 0 solid transparent;
    padding-right: 0;
    padding-left: 1px;
}

#controls .control-tool.active, #controls .control-tool:hover {
    border: 0 solid transparent;
    color: yellow;
    box-shadow: 1px 0 var(--shadowstrength) 0 var(--shadowcolor);
}

#controls > li:nth-child(n), #controls > li.scene-control > ol > li.control-tool {
    width: var(--controlsw);
    height: var(--controlsh);
    line-height: var(--controlslh);
    font-size: var(--controlsfs);
    padding-right: 0;
    padding-left: 1px;
}


#controls .active .control-tools {
    display: var(--controlssubstyle);
    left: var(--controlssubstart);
    transition: 0.5s;
    background: #00000059;
    border: solid 1px var(--bordercolor);
    box-shadow: 1px 0 var(--shadowstrength) 0 var(--shadowcolor);
    border-radius: 3px;
}

#controls:hover .active .control-tools {
    display: var(--controlssubstyle);
    left: var(--controlssubhover);
}