:root {
    --controlsw: 36px;
    --controlsh: 30px;
    --controlslh: 30px;
    --controlsfs: 24px;
    --controlstop: 75px;
    --opacitycontrols: 75%;
    --controlssubop: 100%;
    --controlssubopna: 100%;
    --controlssubdisna: block;
}

#ui-left {
    left: -5px;
}

#controls {
    opacity: var(--opacitycontrols);
    transition: 2s;
    margin-top: var(--controlstop);
}

#controls:hover {
    opacity: 100%;
    transition: 0.5s;
}

#controls ol.main-controls {
    overflow: visible;
    margin-top: calc(var(--shadowstrength) + 1px);
}

#controls > ol.main-controls > li.scene-control, #controls > ol.sub-controls > li {
    width: var(--controlsw);
    height: var(--controlsh);
    line-height: var(--controlslh);
    font-size: var(--controlsfs);
    border: 1px solid transparent;
}

#controls ol .scene-control:not(.active), #controls ol .control-tool:not(.active) {
    transition: 2s;
    opacity: var(--controlssubopna);
    display: var(--controlssubdisna);
}

#controls:hover ol .scene-control:not(.active), #controls:hover ol .control-tool:not(.active) {
    transition: 0.5s;
    opacity: 100%;
}

#controls ol.control-tools > li.active, #controls ol.control-tools > li:hover {
    border: 1px solid var(--bordercolor);
    box-shadow: 0 var(--hotbarshp) var(--shadowstrength) 2px var(--shadowcolor);
}

#controls ol.sub-controls.active {
    opacity: var(--controlssubop);
    margin-top: calc(var(--shadowstrength) + 1px);
    transition: 2s;
}

#controls:hover ol.sub-controls.active {
    transition: 0.5s;
    margin-top: calc(var(--shadowstrength) + 1px);
    opacity: 100%;
}