:root {
    --navivis: hidden;
    --navixpos: 125px;
    --navilh: 20px;
    --navifs: 14px;
    --navilisttop: 16px;
    --navibuttonsize: 23px;
}

#navigation {
    left: var(--navixpos);
    visibility: var(--navivis);
    opacity: var(--opacity);
    transition: 0.05s ease-out 0.5s;
}

#navigation:hover {
    opacity: 100%;
    transition: 0.05s;
}

#navigation .nav-item {
    line-height: var(--navilh);
    font-size: var(--navifs);
}

#navigation #nav-toggle {
    height: var(--navibuttonsize);
    background: #292929bd;
}

#navigation #scene-list .scene ul.scene-players {
    top: var(--navilisttop);
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
    border: 1px solid var(--bordercolor);
    border-bottom: 1px solid var(--bordercolor);
    box-shadow: 0 0 var(--shadowstrength) var(--shadowcolor);
}

/** COMPATIBILITY: Monks Scene Navigation */

#navigation .monks-scene-navigation {
    flex: 0 0 var(--navilh);
    height: var(--navilh);
}

#navigation .monks-scene-navigation .scene-list > li.nav-item {
    height: var(--navilh);
}

#navigation .monks-scene-navigation .scene-list > li.nav-item a {
    line-height: var(--navilh);
    height: var(--navilh);
    font-size: var(--navifs);
    padding: 0 4px;
}

#navigation .monks-scene-navigation .scene-list > li.nav-item ul.scene-players {
    top: var(--navilisttop);
}

#navigation .monks-scene-navigation .scene-list > li.nav-item.folder a {
    padding-top: 0;
    border-top: 1px;
}

#navigation .monks-scene-navigation .scene-list > li.nav-item.folder.expanded a {
    height: calc(var(--navilh) + 2px);
    margin-top: 4px;
}

#navigation .monks-scene-navigation .scene-list > li.nav-item.folder-header {
    line-height: var(--navilh);
}

/** --------------- */