:root {
    --playervis: hidden;
    --playerfsize: 0px;
    --playerfsizehv: 12px;
    --playerwidthhv: 150px;
    --playerslh: 20px;
    --playerbennies: none;
    --playerh3w: unset;
    --playerbot: -5px;
    --playerleft: 0;
    --playerpingdisplay: initial;
}

#players {
    bottom: var(--playerbot);
    left: var(--playerleft);
    font-size: var(--playerfsize);
    visibility: var(--playervis);
    opacity: var(--opacity);
    box-shadow: 0 var(--hotbarshp) var(--shadowstrength) 2px var(--shadowcolor);
    position: absolute;
    border: 1px solid var(--bordercolor);
}

#players:hover {
    opacity: 100%;
}

#players ol li.player {
    padding: 1px 10px;
    line-height: var(--playerslh);
}

#players h3 {
    margin: 1px;
}

#players #context-menu {
    font-size: 14px;
}

.raised-hand {
    font-size: 20px;
    position: fixed;
}

.pingLogger_pingSpan {
    display: var(--playerpingdisplay);
}

.bennies-count {
    display: var(--playerbennies);
}

#destiny-tracker {
    opacity: var(--opacity);
}

#destiny-tracker:hover {
    opacity: 100%;
}