#sidebar {
    visibility: var(--controlsvis);
}

#sidebar.collapsed {
    opacity: var(--opacity);
    transition: 0.05s ease-out 0.5s;
}

#sidebar.collapsed:hover {
    opacity: 100%;
    transition: 0.05s;
}

#sidebar-tabs {
    border-bottom: 1px solid var(--bordercolor);
    box-shadow: 0 0 var(--shadowstrength) var(--shadowcolor);
}

#sidebar-tabs > .item.active {
    box-shadow: 0 0 var(--shadowstrength) inset var(--shadowcolor);
    border: 1px solid var(--bordercolor);
}

#sidebar.collapsed #sidebar-tabs > .item.active {
    border-bottom: 1px solid var(--bordercolor);
}

.tabs .item.active {
    text-shadow: 0 0 var(--shadowstrength) var(--shadowcolor);
}

#sidebar-tabs > a:nth-child(n):hover {
    text-shadow: 0 0 var(--shadowstrength) var(--bordercolor);
}
