:root {
    --controlsvis: hidden;
    --fpsvis: hidden;
}

#sidebar {
    visibility: var(--controlsvis);
}

#sidebar.collapsed {
    transition: 0.5s;
    opacity: var(--opacity);
}

#sidebar.collapsed:hover {
    transition: 0.5s;
    opacity: 100%;
}

#sidebar-tabs {
    border-bottom: 1px solid var(--bordercolor);
    box-shadow: 0 0 var(--shadowstrength) var(--shadowcolor);
}

#sidebar-tabs > .item.active {
    box-shadow: 0 0 var(--shadowstrength) inset var(--shadowcolor);
    border: 1px solid var(--bordercolor);
}

#sidebar.collapsed #sidebar-tabs > .item.active {
    border-bottom: 1px solid var(--bordercolor);
}

.tabs .item.active {
    text-shadow: 0 0 var(--shadowstrength) var(--shadowcolor);
}

#sidebar-tabs > a:nth-child(n):hover {
    text-shadow: 0 0 var(--shadowstrength) var(--bordercolor);
}

#fps {
    position: absolute;
    right: var(--fpsposx);
    visibility: var(--fpsvis);
}