:root {
    --bordercolor: #00000080;
    --shadowcolor: #7c7c7c40;
    --shadowstrength: 10px;
    --opacity: 75%;
    --fpsposx: 300px;
}

div#camera-views.camera-position-left, div#camera-views.camera-position-right {
    min-width: 130px;
    --av-width: auto;
}